@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background-color: $white;

    ul.navbar-nav {
        .nav-item a.nav-link {
            font-weight: 700;
            font-size: 1.125rem;
            padding-left: 24px;
            padding-right: 24px;
            color: $primary-dark;
        }
    }
}

section.banner {
    background: linear-gradient($primary-dark, $primary-light, $white);
    padding: 120px 0 34px;

    .interest-plan {
        background-color: $primary-dark;
        padding: 10px 10px 10px 70px;
        color: $white;
        border-radius: 70px;
        margin: 30px 0;

        .divider {
            width: 2px;
            height: 85px;
            background: rgba(255, 255, 255, 0.21);
        }

        .btn {
            height: 98px;
            background: $tertiary;
            display: block;
            color: $white;
            line-height: 1;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .loan-type-card {
        background: $white;
        border-radius: 16px;
        filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
        height: 428px;
        overflow: hidden;
    }

    .lenders-header {
        padding-top: 248px;
    }
}

section.lenders {
    padding-bottom: 165px;

    .lender-slider-1,
    .lender-slider-2,
    .lender-slider-3 {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 0;
        }
    }
}

section.cta {
    background: imgUrl('cta.png') left top;
    padding: 140px 0 262px;
}

section.introduction {
    ul.intro-loan-type-list {
        color: $white;
        column-count: 2;
        column-gap: 0;
        padding-inline-start: 16px;
    }
}

section.how-it-works {
    background: linear-gradient(151.67deg, #7820BC 15%, $primary 121.08%);
    padding: 198px 0 51px;
    color: $white;
}

section.about {
    background: $light;
    padding-top: 231px;

    .loans-slider-wrapper {
        padding: 56px 0;

        .slick-slide {
            margin: 0 4px;
        }

        ul {
            display: flex;
            position: relative;
            padding: 0;
            margin: 0;

            li {
                list-style: none;

                .loan-slider-btn {
                    height: 50px;
                    transition: 0.5s;
                    padding: 4px 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 5;
                }

                &.slide {
                    position: absolute;
                    height: 50px;
                    background: $white;
                    border-radius: 100px;
                    border: 1px solid $primary-dark;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    transition: 0.5s;
                    opacity: 0;
                }

                &:nth-child(1).active~.slide,
                &:nth-child(2).active~.slide,
                &:nth-child(3).active~.slide {
                    opacity: 1;
                }
            }
        }

        .loans-slider {
            padding-top: 17px;

            .loan-slider-content-wrapper {
                .loan-slider-content {
                    margin-top: 48px;
                    height: 501px;
                    padding: 0 18px;
                    overflow-y: visible;

                    &.slider-1 {
                        background: linear-gradient(93.66deg, $primary 18.67%, #9E4AFF 77.16%);
                        border-radius: 44px;

                        .slider-img {
                            margin-top: -46px;
                        }
                    }

                    &.slider-2 {
                        background: linear-gradient(93.66deg, #EB6D45 18.67%, #D36EFF 77.16%);
                        border-radius: 44px;

                        .slider-img {
                            margin-top: -46px;
                        }
                    }

                    &.slider-3 {
                        background: linear-gradient(93.66deg, #D36EFF 18.67%, #742CFF 77.16%);
                        border-radius: 44px;

                        .slider-img {
                            margin-top: -46px;
                        }
                    }

                    .slider-text {
                        padding: 66px 0 0 68px;
                    }
                }

                .cards-wrapper {
                    padding: 0 25px;
                    margin: -7rem 0 3rem;

                    .slider-card {
                        background: $white;
                        border-radius: 16px;
                        filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
                        min-height: 263px;
                        padding: 21px 17px;
                        color: $primary-dark;
                    }
                }
            }

            .slick-dots {
                padding: 0 85px;

                li {
                    height: 10px;
                    width: 85px;

                    button {
                        height: 10px;
                        width: 85px;
                        padding: 0;

                        &::before {
                            content: "";
                            background: $primary-dark;
                            height: 10px;
                            width: 85px;
                        }
                    }

                    &.slick-active {
                        button::before {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }

    .rates-slider-wrapper {
        padding: 15px 0;

        .rates-slider {
            .rates-slider-content {
                margin: 4rem 4px;
                border-radius: 27px;
                padding: 45px 77px 30px;

                &.slider-1 {
                    background: $quartinary;

                    .percentage-img {
                        position: absolute;
                        top: -10.5rem;
                        width: 100%;
                    }
                }

                &.slider-2 {
                    background: $primary-dark;
                }
            }
        }
    }

    .cta-2 {
        padding: 151px 0;
    }

    .faq {
        padding: 49px 0 141px;
        position: relative;

        .faq-img {
            position: absolute;
            top: 0;
            left: 0;
        }

        .accordion-container {
            width: 100%;

            .accordion-card {
                margin: 13px 0;
            }

            .accordion-head {
                cursor: pointer;
                font-weight: 900;
                text-transform: capitalize;
                padding: 1rem 0;
                transition: 0.2s all;
                font-size: 1.5rem;
                align-items: center;
                display: flex;
                border-bottom: 0.25px solid $dark;
                justify-content: space-between;
                color: $primary-dark;

                @include media-breakpoint-up(xl) {
                    font-size: 1.5rem; // 24px
                    padding: 45px 34px 45px 0;
                }

                .main-question {
                    @include media-breakpoint-down(sm) {
                        max-width: 95%;
                    }
                }

                .plusminus {
                    background: linear-gradient(135.06deg, #4A55FA 0.94%, #937EFC 98.94%);
                    border-radius: 100%;
                    height: 33px;
                    width: 33px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                }
            }

            .accordion-body {
                color: $dark;
                font-weight: 500;
                display: none;
                padding: 24px 1rem;
                line-height: 2;
                font-size: 1rem; // 16px

                @include media-breakpoint-up(md) {
                    padding: 34px 34px 0 0;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }
        }
    }

    .testimonials {
        padding-bottom: 60px;
        
        .testimonial-slider {
            .slick-slide {
                margin: 19px 15px;
            }

            .testimonial-card {
                background: $white;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
                border-radius: 35px;
                padding: 34px 39px;

                .username {
                    font-size: 1.5rem;
                    font-weight: 800;
                    color: $black;

                    @include media-breakpoint-down(sm) {
                        font-size: 1rem;
                    }
                }

                .date {
                    font-size: 1rem;
                    color: rgba(0, 0, 0, 0.5);

                    @include media-breakpoint-down(sm) {
                        font-size: 0.875rem;
                    }
                }

                .comment {
                    line-height: 1.25;
                    color: $black;
                    font-size: 1rem;
                    padding: 24px 0 0;
                }

                .verified {
                    color: rgba(0,0,0,0.5);
                    text-transform: uppercase;
                }
            }
        }
    }
}

footer {
    font-size: 0.875rem;
    background-color: #221f1f;

    @include media-breakpoint-down(sm) {
        font-size: 0.61rem;
    }
}