@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background-color: $white;

    ul.navbar-nav {
        .nav-item a.nav-link {
            font-weight: 700;
            font-size: 1.125rem;
            padding-left: 24px;
            padding-right: 24px;
            color: $primary-dark;
        }
    }
}

section.banner {
    background: linear-gradient($primary-dark, $primary-light, $white);
    padding: 120px 0 34px;

    .interest-plan {
        background-color: $primary-dark;
        padding: 10px 10px 10px 70px;
        color: $white;
        border-radius: 70px;
        margin: 30px 0;

        .divider {
            width: 2px;
            height: 85px;
            background: rgba(255, 255, 255, 0.21);
        }

        .btn {
            height: 98px;
            background: $tertiary;
            display: block;
            color: $white;
            line-height: 1;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .loan-type-card {
        background: $white;
        border-radius: 16px;
        filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
        height: 428px;
        overflow: hidden;
    }

    .lenders-header {
        padding-top: 248px;
    }
}

section.lenders {
    padding-bottom: 165px;

    .lender-slider-1,
    .lender-slider-2,
    .lender-slider-3 {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 0;
        }
    }
}

section.cta {
    background: imgUrl('cta.png') left top;
    padding: 140px 0 262px;
}

section.introduction {
    ul.intro-loan-type-list {
        color: $white;
        column-count: 2;
        column-gap: 0;
        padding-inline-start: 16px;
    }
}

section.how-it-works {
    background: linear-gradient(151.67deg, #7820BC 15%, $primary 121.08%);
    padding: 198px 0 51px;
    color: $white;
}

section.about {
    background: $light;
    padding-top: 231px;

    .loans-slider-wrapper {
        padding: 56px 0;

        .slick-slide {
            margin: 0 4px;
        }

        ul {
            display: flex;
            position: relative;
            padding: 0;
            margin: 0;

            li {
                list-style: none;

                .loan-slider-btn {
                    height: 50px;
                    transition: 0.5s;
                    padding: 4px 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 5;
                }

                &.slide {
                    position: absolute;
                    height: 50px;
                    background: $white;
                    border-radius: 100px;
                    border: 1px solid $primary-dark;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    transition: 0.5s;
                    opacity: 0;
                }

                &:nth-child(1).active~.slide,
                &:nth-child(2).active~.slide,
                &:nth-child(3).active~.slide {
                    opacity: 1;
                }
            }
        }

        .loans-slider {
            padding-top: 17px;

            .loan-slider-content-wrapper {
                .loan-slider-content {
                    margin-top: 48px;
                    height: 501px;
                    padding: 0 18px;
                    overflow-y: visible;

                    &.slider-1 {
                        background: linear-gradient(93.66deg, $primary 18.67%, #9E4AFF 77.16%);
                        border-radius: 44px;

                        .slider-img {
                            margin-top: -46px;
                        }
                    }

                    &.slider-2 {
                        background: linear-gradient(93.66deg, #EB6D45 18.67%, #D36EFF 77.16%);
                        border-radius: 44px;

                        .slider-img {
                            margin-top: -46px;
                        }
                    }

                    &.slider-3 {
                        background: linear-gradient(93.66deg, #D36EFF 18.67%, #742CFF 77.16%);
                        border-radius: 44px;

                        .slider-img {
                            margin-top: -46px;
                        }
                    }

                    .slider-text {
                        padding: 66px 0 0 68px;
                    }
                }

                .cards-wrapper {
                    padding: 0 25px;
                    margin: -7rem 0 3rem;

                    .slider-card {
                        background: $white;
                        border-radius: 16px;
                        filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
                        min-height: 263px;
                        padding: 21px 17px;
                        color: $primary-dark;
                    }
                }
            }

            .slick-dots {
                padding: 0 85px;
                
                li {
                    height: 10px;
                    width: 85px;

                    button {
                        height: 10px;
                        width: 85px;
                        padding: 0;

                        &::before {
                            content: "";
                            background: $primary-dark;
                            height: 10px;
                            width: 85px;
                        }
                    }

                    &.slick-active {
                        button::before {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
}

footer {
    font-size: 0.875rem;
    background-color: #221f1f;

    @include media-breakpoint-down(sm) {
        font-size: 0.61rem;
    }
}